@import 'https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500&family=Roboto&display=swap';

body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  box-sizing: border-box;
}

body * {
  box-sizing: border-box;
}

body ul {
  margin: 0;
  padding: 0;
}

body li {
  list-style: none;
}

body h2 {
  margin: 0;
}