.home-heading {
  margin-left: 2.5%;
  margin-right: 5%;
  border-bottom: 1px solid #4169e1;
}

.home {
  margin-bottom: 50px;
}

.home #showMoreButton {
  display: block;
  width: 120px;
  height: 50px;
  margin: 0 auto;
  
  background: #fff;
  border: 3px solid #4169e1;
  border-radius: 2px;

  color: #4169e1;
  font-size: 1.25rem;
  font-family: 'Mukta', sans-serif;

  transition: color 0.25s;
}

.home #showMoreButton:hover,
.home #showMoreButton:focus {
  color: white;
  background: #4169e1;
}

.home #showMoreButton:hover {
  cursor: pointer;
}