.organization-detail-header {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.organization-detail-header-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.organization-detail-heading {
  margin-left: 2.5%;
}

.grid-container {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 610px) {
  .grid-container {
    display: grid;
    gap: 15px 15px;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "sidebar section1"
      "sidebar section2"
  }
}

.organization-detail .createOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Members */
.organization-detail #members {
  grid-area: sidebar;
  padding: 0 20px 0 20px;
  border: 1px solid #00febe;
  margin-bottom: 20px;
}

#members .member-container {
  position: relative;
  display: flex;
  align-items: center;

  padding: 10px 0 10px 0;
  border-bottom: 1px solid #eee;
}

.member-container .member-link:hover,
.member-container .member-link:focus {
  background: rgba(0, 254, 190, 0.1);
}

.member-container .member-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.member-container .member-name {
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Repos */
.organization-detail #repos {
  grid-area: section1;
  border: 1px solid #febe00;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));
  gap: 5px 5px;
}

#repos .repo-container {
  position: relative;
  border: 1px solid #eee;
  padding: 10px;
}

.repo-container .repo-name {
  margin: 0;
  font-size: 1.1rem;
}

.repo-container .repo-link:hover,
.repo-container .repo-link:focus {
  background: rgb(254, 190, 0, 0.1)
}