/* Card list */
.card-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 15px 0 15px;
}

@media screen and (min-width: 460px) {
 .card-list {
   flex-direction: row;
   margin: 0 auto;
   padding: 10px 0 10px 0;
   max-width: 90%;
 }

 .card-list:nth-child(n+2)::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  border-top: 4px double #4169e1;
 }
}

/* Card */
.card-list .card {
  position: relative;
  display: flex;
  flex-direction: column;

  box-shadow: 5px 5px 5px #eee;
  border: 1px solid #bcbcbc;

  margin: 15px 0 15px 0;
  padding: 15px;

  top: 0;
  left: 0;
}

/* Card Header */
.card .card-header {
  display: flex;
  justify-content: space-between;
}

.card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-title {
  font-weight: normal;
}

/* Card Body */
.stat-table {
  width: 100%;
  margin: 10px auto 10px;
}

.stat-table-body {
  display: flex;
  justify-content: space-between;
}

.stat-table .stat-row {
  display: flex;
  flex-wrap: wrap;
}

.stat-table .stat-row:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.stat-table .stat {
  font-family: 'Mukta', sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
}

.stat-table .stat.stat--bold {
  font-weight: bold;
}

.description p {
  display: inline;
}

.description p::before{
  content: '';
  display: inline;
  height: 100%;
  border-left: 2px solid #be00fe;
  margin-right: 15px;
}

@media screen and (min-width: 460px) {
  .card-list .card {
    width: 30%;
    min-width: 250px;
    margin: 15px;
    transition: top 0.2s, left 0.2s, box-shadow 0.2s;
  }

  .card-list .card:hover {
    top: -5px;
    left: -5px;
    box-shadow: 10px 10px 5px #eee;
  }
}