/* Card list */
.card-list {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 15px 0 15px;
}

@media screen and (min-width: 460px) {
 .card-list {
   flex-direction: row;
   margin: 0 auto;
   padding: 10px 0 10px 0;
   max-width: 90%;
 }

 .card-list:nth-child(n+2)::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  border-top: 4px double #4169e1;
 }
}