/* Card list */
.card-list {
  position: relative;
  display: grid;
  grid-template-columns: none;
  gap: 15px 15px;
  max-width: 90%;
  margin: 0 auto 15px;
}

@media screen and (min-width: 460px) {
  .card-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    padding: 20px 0 20px 0;
    margin: 0 auto;
  }

  .card-list:nth-child(n+2)::before {
  content: ''; 
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  border-top: 4px double #4169e1;
  }
}